<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED"><!-- s数据库连接池 -->
        <property name="driver" value="com.mysql.cj.jdbc.Driver"/><!-- JDBC连接Mysql6  -->
        <property name="url" value="jdbc:mysql://localhost:3306/myhotel?serverTimezone=GMT&amp;useUnicode=true&amp;characterEncoding=utf8"/><!-- 需要指定时区serverTimezone: -->
        <property name="username" value="root"/>
        <property name="password" value=""/>
      </dataSource>
    </environment>
  </environments>

  <mappers>
    <mapper resource="mapper/client-mapper.xml"/>
    <mapper resource="mapper/adm-mapper.xml"/>
  </mappers>
  
</configuration>